<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Page 1</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <form action="/Home/Page2">
        Points <input type="text" name="points" value=""> <br>
        <button type="submit">Send</button>
    </form>
    </body>
</html>
