<!DOCTYPE html>
<html lang="en">
  <head>
    <title>View Statistics</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
      @foreach(var item in ViewBag.guesses)
      {
        <p>id: @item["id"]: @item["guess"]</p>
      }
  </body>
</html>
